# Do not add train and test dataset once uncompressed
*.csv 

# Do not add jupyter notebook folders
.ipynb_checkpoints/
__pycache__/

# Do not add project two data without Zunino's permission
Project\ 2/data/
